@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/* Configurando a pagina */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins' sans-serif;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
}
/* Configurando o fundo */
header {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    z-index: 10000;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000; 
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Configurando as imagens do fundo */
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 10000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 10;
}
/* Configurando o fundo */
.fundo{
    padding: 150px;
    position: relative;
    background: #1c0522;
}
/* Configurando o conteudo do fundo */
#conteudo p{
    padding-top: 5px;
    font-size: 1rem;
    text-align: left;
    font-family: 'Trebuchet Ms' sans-serif;
    color: #fff;
    float: left;
}
#conteudo h2{
    font-size: 2.5rem;
    color: #fff;
}
#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    right: -350px;
    z-index: 9;
}
/* Configurando a barra de links e o logo*/
nav{
    display: inline-block;
}
.logo{
    display: flex;
    align-items: center;
}
.nav-lista ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-lista ul li{
    margin-left: 20px;
    list-style: none;
}
.nav-lista ul li a{
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 50px;
}
.nav-lista ul li a:hover,
.nav-lista ul li a:active{
    background: #fff;
    color: #2b1055;
}
.nav-item{
    margin: 0 15px;
    color: #fff;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
}
.login-buttom button{
    border: none;
    background: #1c0522;
    padding: 10px 15px;
    border-radius: 5px;
}
.login-buttom button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}
/* Configuração Responsiva*/
@media screen and (max-width: 768px){
    .nav-bar{
        padding: 1.5rem 4rem;
        scroll-behavior: smooth;
    }
    .nav-item{
        display: none;
    }
    .login-buttom{
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        scroll-behavior: smooth;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-buttom {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-buttom button {
        width: 100%;
    }
    .open{
        display: block;
    }
    header{
        padding: 0;
    }
    header ul{
        padding-left: 0;
        margin: 40px;
    }
    #conteudo{
        display: inline-block;
    }
    #conteudo h2{
        padding: 0;
    }
}
/* Configurando as imagens */
.Logo img{
    width: 110px;
    height: 110px;
    display: inline-block;
    position: relative;
    z-index: 10000;
}
/* Configuração do Rodapé */
#footer {
    background-color: #53416b;
    color: #000;
    text-align: center;
    width: 100%;
    font-size: 12px;
    padding: 30px;
    z-index: 10000;
}